/* fonts:
font-family: 'Nunito', sans-serif;
font-family: 'Lora', serif;
*/

/* colors:
#F17C39 (orange)
#387BA6 (blue)
#5ab9ed (light blue hover)
 */

/* hamburger menu
https://www.cssscript.com/hamburger-toggle-animations/
https://www.cssscript.com/basic-hamburger-toggle-menu-css-vanilla-javascript/
*/

/* scroll animation:
http://michalsnik.github.io/aos/
*/

/* Lightbox
https://lokeshdhakar.com/projects/lightbox2/
 */

* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
	font-family: 'Nunito', sans-serif;
}


/* fonts */
h1 {
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 600;
	font-size: 1.3rem;
	border-bottom: 2px solid #ffffff;
	border-radius: 1px;
	padding: 1rem 0;
	letter-spacing: .1rem;
}

h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lora', serif;
	padding: 1rem 0;
	color: #F17C39;
	font-weight: 400;
}

h2 {
	color: #ffffff;
	font-size: 1rem;
	font-style: italic;
}

h3 {
	font-size: 1.2rem;
}

h4 {
	font-family: 'Nunito', sans-serif;
	color: #387BA6;
	padding: .3rem 0;
	font-weight: 600;
}

p {
	font-size: .9rem;
	font-weight: 300;
	padding: 2% 0;
	color: #666666;
	line-height: 1.6rem;
}

a {
	text-decoration: none;
	color: #F17C39;
	cursor: pointer;
}

a:hover {
	cursor: pointer;
	color:#999999;
}

ul {
	font-size: .9rem;
	margin-left: 20px;
	font-weight: 300;
	color: #666666;
}

.section-title {
	font-size: 2.5rem;
	letter-spacing: .5rem;
	font-weight: 100;
}

/* end fonts */

.desktop-menu {
	display: none;
}

.right-content-30 {
	display: none;
}

.right-content-40 {
	display: none;
}

.right-content-50 {
	display: none;
}

#get-in-touch {
	display: block;
	float: none;
}

#find-us {
	display: block;
	float: none;
}

header {
	height: 25%;
}

.header-content {
	width: 90%;
	position: absolute;
  z-index: 2;
	text-align: center;
	margin: 10px 0 0 4.5%;
}

.header-content img{
  width: 150px;
  text-align: center;
  margin: 20px 0;
}

.overlay {
	background-image: linear-gradient(-45deg, rgba(241,124,57,.8), rgba(56,123,166,.8));
	width: 100%;
  height: 345px;
 	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
}

.header-image {
	width: 100%;
	height: 345px;
	position: relative;
	overflow: hidden;
	object-fit: cover;
	object-position: center;
}

.header-image img {
	max-width: 100%;
}

#page-title {
	font-size: 3rem;
	font-weight: 100;
	letter-spacing: .4rem;
}


/* hamburger menu START */
.nav {
  -webkit-transition: left 0.5s ease;
  -moz-transition: left 0.5s ease;
  -ms-transition: left 0.5s ease;
  -o-transition: left 0.5s ease;
  transition: left 0.5s ease;
  background: #387BA6;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  height: 100vh;
  left: -58rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.nav.expanded { left: 0; }

.nav ul {
  position: absolute;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  list-style: none;
  margin: 0;
  padding: 0;
	width: 100%;
	text-align:center;
}

.nav ul li {
	font-family: 'Lora', serif;
	font-size: 2.5rem;
	padding: 20px 0;
}

.nav ul li a{
	color: #ffffff;
}

.nav ul li a:hover{
	opacity: 0.6;
  transition: 0.6s;
}

.nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 3px;
  left: 2rem;
  position: absolute;
  top: 2rem;
  width: 2rem;
  z-index: 6;
}

.nav-toggle:hover { opacity: 0.8; }

.nav-toggle .nav-toggle-bar,  .nav-toggle .nav-toggle-bar::after,  .nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: white;
  content: '';
  height: 3px;
  width: 100%;
}

.nav-toggle .nav-toggle-bar {
	margin-top: 0;
	width: 100%;
  height: 3px;
  border-radius: 4px;
	-webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.nav-toggle .nav-toggle-bar::after {
	margin-top: 0.6rem;
	height: 3px;
  border-radius: 4px;
	-webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.nav-toggle .nav-toggle-bar::before {
	margin-top: -0.6rem;
	height: 3px;
  border-radius: 4px;
	-webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.nav-toggle.expanded .nav-toggle-bar { background: transparent;  }

.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
  background: white;
  margin-top: 0;
}

.nav-toggle.expanded .nav-toggle-bar::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle.expanded .nav-toggle-bar::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* hamburger menu END */

.home-1, .about-1 {
	text-align: center;
	border-bottom: 1px solid #cccccc;
	padding: 18px 0 30px 0;
}

.home-2 {
	padding: 18px 0 30px 0;
}

.home-3 {
	background-color: #f4f4f4;
	text-align: center;
	padding: 50px 5%;
}

.home-4, .product-1, .contact-1 {
	padding: 18px 0 30px 0;
	border-bottom: 1px solid #cccccc;
}

.home-5 {
	padding: 18px 0 30px 0;
	text-align: center;
}

.home-5 p::first-line {
	font-family: 'Lora', serif;
	font-size: 1rem;
	color: #F17C39;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 2rem;
}

.product-2, .contact-2 {
	padding: 18px 0 30px 0;
}

.product-2 h3 {
	text-align: center;
}

.product-2 img {
	width: 80%;
}

.about-2, .about-3 {
	padding: 18px 0 30px 0;
	border-bottom: 1px solid #cccccc;
}

.about-3 h4 {
	padding: 1rem 0 .5rem 0;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: .1rem;
}

.about-3 h5 {
	padding: .5rem 0;
	font-family: 'Nunito', sans-serif;
	font-size: 1rem;
}

.about-4 {
	text-align: center;
	padding: 50px 5%;
}

.contact-2 p{
	font-size: 1.2rem;
	line-height: 2rem;
	letter-spacing: .08rem;
	padding-top: 0px;
}

.container-85 {
	max-width: 90%;
	margin: 0 auto;
}

.text-button {
	padding:10px 20px;
	border-radius: 20px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #F17C39;
	border: 1px solid #F17C39;
}

.text-button a {
	color: #ffffff;
}

.text-button a:hover {
	color: #F17C39;
}

.text-button:hover {
	color: #F17C39;
	border: 1px solid #F17C39;
	background-color: #ffffff;
	cursor: pointer;
}

.left {
	float: left;
	width: 50%;
}

.right {
	float: right;
	width: 50%;
}

.left-70 {
	float: left;
	width: 70%;
}

.right-30 {
	float: right;
	width: 30%;
}

.clear {
	clear: both;
}

.walkthrough-media figure{
	margin:5px 0 15px 0;
	padding:20px 0;
}

.walkthrough-media h4 {
	text-align: left;
	border-top:3px solid #387BA6;
	padding: 15px 0;
	font-weight: 400;
	text-transform: uppercase;
	font-size: .9rem;
}

.walkthrough-media img {
	width: 100%;
}

.logo-media figure{
	margin:5px 0 15px 0;
	padding:20px 0;
	text-align: center;
}

.logo-media img {
	max-width:200px;
}

.employee-image img {
	width: 100%;
	max-width: 300px;
}

figcaption {
	font-size: .9rem;
  font-weight: 300;
  padding: 2% 0;
  color: #666666;
  line-height: 1.6rem;
}

/* -------------------------- form styles -------------------------------- */
.contact-form {
  color: #F17C39;
}

.label_input_wrap {
  display: block;
}

.submit input{
  border: 1px solid #F17C39;
  background: white;
  border-radius: 20px;
  color: #F17C39;
  padding: 8px 20px;
}

.submit input:hover{
  border: 1px solid #F17C39;
  background: #F17C39;
  color: white;
}

input,
textarea {
  padding: 8px 10px;
  border: 1px solid #F17C39;
}

.form-field {
	width: 98%;
}

.input-section {
  padding:10px;
}

/* footer */
footer {
	padding: 18px 0 30px 0;
	background-color: #f4f4f4;
}

footer h4 {
	padding-top:20px;
}

footer hr {
	border: 0;
  height: 1px;
  width: 50px;
  background: #387BA6;
  margin: 4px 0;
}

footer a {
	color: #387BA6;
}

.footer-logo {
	max-width: 100px;
	padding-top:25px;
}


@media (max-width:450px) {
	h1 {
		font-size: 1.1rem;
	}

}

@media (min-width:695px) {

	h3 {
		font-size: 1.8rem;
	}

	.home-5 p::first-line {
		font-size: 1.8rem;
		line-height: 2.8rem;
	}

	.header-content h1 {
		width: 60%;
		margin: 0 auto;
		font-size: 1.4rem;
		border: none;
		clear: both;
	}

	.header-content h1::after {
		content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
    border-bottom: 2px solid #ffffff;
		border-radius: 1px;
	}

	#multi-column {
		-moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
	}

	#multi-column ul {
		list-style-type: none;
		margin-left: 0;
	}

	#multi-column ul li{
		padding-top: 15px;
	}

	.container-50 {
		max-width: 50%;
		margin: 0 auto;
	}

	.left-30 {
		float: left;
		width: 30%;
	}

	.right-70 {
		float: right;
		width: 66%;
		margin-left:4%;
	}

	.home-5 {
		padding: 50px 0 55px 0;
	}

	.walkthrough-media figure, .logo-media figure {
		max-width: 28%;
		display: inline-block;
		padding: 0 15px;
		vertical-align: top;
		margin-top: 30px;
	}

	.walkthrough-media h4 {
		height: 40px;
	}

	#get-in-touch {
		display: block;
		float: left;
		width: 50%;
		text-align: left;
	}

	#find-us {
		display: block;
		float: right;
		width: 40%;
		margin-left: 10%;
		text-align: left;
	}

	.about-3 h4 {
		padding: 0 0 .5rem 0;
	}

	.employee-image {
		float: left;
	  max-width: 300px;
	  margin-right: 20px;
		min-width: 245px;
	}

	.form-field {
		width: 60%;
		max-width: 500px;
	}

}

@media (min-width:900px) {
	.header-content h1 {
		font-size: 1.6rem;
	}

	.flex-container {
		display: flex;
		max-width: 85%;
		margin: 0 auto;
	}

	.container-90 {
		max-width: 90%;
	}

	.container-85 {
		max-width: 85%;
		margin: 0 auto;
	}

	.container-50 {
		max-width: 50%;
		margin: 0 auto;
	}

	.contact-1 {
		padding-right: 20px;
		border-bottom: none;
	}

	.contact-2 {
		min-width: 25%;
		padding-left: 10%;
	}

	.contact-2 p {
		padding-bottom: 30px;
	}

	.contact-2 h4 {
		padding: 1rem 0 .5rem;
	}

}

@media (min-width:930px) {

	.nav, .nav-toggle, .nav-toggle-bar {
		display: none;
	}

	.desktop-menu {
		display: block;
    z-index: 5;
    position: absolute;
    margin: 40px 0px;
    float: right;
    width: 100%;
    text-align: right;
	}

	.desktop-menu a:hover{
		opacity: .6;
	}

	.desktop-menu ul li {
		display: inline;
		padding: 0px 1.5%;
		text-transform: uppercase;
		font-size: .8rem;
		font-weight: 600;
    letter-spacing: .1rem;
	}

	.desktop-menu ul li a {
		color: #ffffff;
	}

	.header-content h2 {
		max-width: 35%;
		margin: 0 auto;
		line-height: 1.5rem;
	}

	.header-content img{
	  width: 125px;
	  float: left;
		margin: 20px 0 0 0;
	}

	.home-4 {
		padding: 50px 0;
	}

	.left-content-70 {
		float: left;
		width: 70%;
	}

	.left-content-60 {
		float: left;
		width: 59%;
		padding-right:3%;
		border-right: 1px solid #cccccc;
	}

	.right-content-30 {
		display: block;
		float: right;
		width: 20%;
		text-align: left;
		margin-left: 10%;
	}

	.about-1 .right-content-30 {
		width: 22%;
		margin-left: 8%;
	}

	.right-content-40 {
		display: block;
		float: right;
		width: 35%;
		margin-left: 2%;
		text-align: center;
		margin-top:50px;
	}

	.right-content-50 {
		display: block;
		float: right;
		width: 40%;
		margin-left: 10%;
		text-align: left;
	}

	.left-content-50 {
		display: block;
		float: left;
		width: 50%;
		text-align: left;
	}

	.home-2, .about-2 {
		display: none;
	}

	.home-3 {
		display: none;
	}

	.left-content-70 {
		float: left;
		width: 70%;
	}

}
